@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-archivo);   
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.neoHeader {
  border: 3px solid #000000;
  max-height: min-content;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  font-size: 25px;
  font-weight: 700;
  margin: 10px 0;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}