@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-archivo);   
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}